﻿@model List<HelpDeskSoftware.Models.Ticket>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <p>Add a ticket:</p>

    <form action="@Url.Action("Add")" method="Post">
        <input type="text" class="input-group-lg col-xs-12" name="ticket" autofocus required />
        <br />
        <text class="text-warning"> @TempData["DuplicateItem"] </text>
        <p>
            Deadline:<br />
            <input type="text" class="input-sm" name="deadline" placeholder="2019.03.16 16:00" required />
            <text class="text-warning">
                @TempData["WrongInputError"]
                @TempData["WrongDateError"]
            </text>

        </p>

        <input type="submit" value="Submit" />
    </form>


</div>
@*<input type="button" value="Add tickets to list for testing" onclick="@HelpDeskSoftware.Controllers.TicketsController.Tickets" />*@


<table class="table">
    <tr>
        <th>Id</th>
        <th>Time of Entry</th>
        <th>Description</th>
        <th>Deadline</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TicketId</td>
            <td>
                @item.TimeOfEntry.ToShortDateString(),
                @item.TimeOfEntry.ToShortTimeString()
            </td>
            <td>
                @item.Description
            </td>

            @if ((item.Deadline.Date == DateTime.Now.Date
                    && item.Deadline.Hour < DateTime.Now.Hour)
                || item.Deadline.Date < DateTime.Now.Date
                || (item.Deadline.Date == DateTime.Now.Date
                    && (DateTime.Now > item.Deadline ? (DateTime.Now - item.Deadline) : (item.Deadline - DateTime.Now))
                        .TotalMinutes <= 60))
            {
                <td class="text-warning">
                    @item.Deadline.ToShortDateString()
                    <text>, by</text>
                    @item.Deadline.ToShortTimeString()
                </td>
            }
            else
            {
                <td>
                    @item.Deadline.ToShortDateString()
                    <text>, by</text>
                    @item.Deadline.ToShortTimeString()
                </td>
            }

            <td>
                <input type="button" onclick="location.href = '@Url.Action("Index", new { ticketId = @item.TicketId })'"
                       value="Ticket resolved (remove)" />
            </td>
        </tr>
    }
</table>

